.element{
    border: 1px solid #333;
    padding: 4px;
    width: 65px;
    height: 65px;

}
.element:hover{    /*pseudoclase*/
    transform: scale(1.1);

}
.element.number{

    font-size: 10px;
    text-align: left;
}
.element.simbol{

    font-size: 20px;
    font-weight: bold;
    
}
.element.name{

    font-size: 9px;
    
}
.element::after{  /* Pseudoelemento*/

    content: "";
    
}
.element::before{  /* Pseudoelemento*/

    content: "";
    
}
